<main class="relative">
  <app-navigation></app-navigation>
  <section id="home" class="xl:padding-l wide:padding-r padding-b">
    <app-hero></app-hero>
  </section>
  <section class="padding">
    <app-popular-products></app-popular-products>
  </section>
  <section class="padding">
    <app-super-quality></app-super-quality>
  </section>
  <section class="py-10 padding-x">
    <app-services></app-services>
  </section>
  <section class="padding">
    <app-special-offer></app-special-offer>
  </section>
  <section class="bg-pale-blue padding">
    <app-customer-reviews></app-customer-reviews>
  </section>
  <section class="w-full py-16 padding-x sm-py-32">
    <app-subscribe></app-subscribe>
  </section>
  <section class="pb-8 bg-black padding-x padding-t">
    <app-footer></app-footer>
  </section>
</main>
